* {
  margin: 0;
  padding: 0;
}
.navigation {
  

  font-family: var(--font1);
}
.logo{
  font-size: 25px;
  font-weight: bolder;
  align-items: center;
}
.nav-right input{
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
}

.content {
  
  /*background-color: rgba(134, 207, 207, 0.048);*/
  display: flex;
  position: relative;
  
}

.content::after {
  content: "";
  background-image: url('../image/s1.jpg');
  width: 100%;
  height: inherit;
  position: absolute;
  opacity: 0.20;
 
}
.homearticles{
  transition: all 3s 1s
}
.content-left {
  font-family: var(--font1);
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center   ;  
}


.content-right {
  font-family: var(--font2);
  width: 50%;
  display: flex;
  justify-content: center;
}

.img1 {
    width: 276px;
    height: 263px;
    justify-content: center;
    border-radius: 90px;
    align-items: center;
    margin-top: 40px;
    border:solid rgba(14, 12, 12, 0.267);
   margin-bottom: 20px;

}
.img1:hover{
    transform: scale(1.05);
}
.ftt {
  height: 40px;
  background-color: salmon;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-left {
  display: flex;
}
.nav-left ul {
  display: flex;
  margin-left: 50px;
  margin-top: 9px;
  color: rgb(19, 8, 8);
}

.nav-left ul li {
  list-style: none;
  margin-inline: 10px;
  font-family: var(--font1);
  color: black;
  transition: all 0.3s ease-in-out;
}


.nav-left ul li a {
  text-decoration: none;
  color: black;

}
.nav-left ul li  :hover {
    color:white;
    background-color: var(--main-bg-color);
}
.btn {
  padding: 2px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top:5px;
  padding-bottom: 5px;
  margin-right: 0px;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}
 
.btn:hover{
    color:white;
    background-color: var(--main-bg-color);
}
.homearticles{
background-color: rgba(202, 146, 202, 0.144);
height:auto ;

}
.homeartimg {
    display: flex;
}
.homeartimg img {
    width: 150px;
    border-radius: 5px;
    box-shadow: teal;
    
    
}
.homeartcont{
    padding:10px;
    align-self: center;
}
.homearticle {
display: flex;
padding:25px;

}
.homearticle a{
  text-decoration: none;
  color: black;
}

.homearticle:hover {
transform: scale(1.0234);
}


.font1{
    font-family: var(--font1);
}

.font2{

    font-family: var(--font2);
}
.mob{
  font-size: 24px;
    margin-left: 25px;
}